<!-- {{ .Site.BaseURL }} -->
{{ partial "head.html" . }}
{{ partial "nav.html" . }}


<h1>{{ .Title }}</h1>
<!-- <h1>{{ .Site.Title }}</h1> -->
{{ .Content }}
<p>This is used only for single pages.</p>
{{ partial "footer.html" . }}
{{ partial "foot.html" . }}