<nav>

    <ul>
        <li><a href="/digital-fabrication-anqi">Home</a></li>
        <li><a href="/digital-fabrication-anqi/about">About</a></li>
        <li><a href="/digital-fabrication-anqi/final-project">Final Project</a></li>
        {{ with .Site.GetPage "/assignments" }}
        <li>Assignments
            <ul>

                {{range .Pages}}

                <li><a href="/digital-fabrication-anqi{{ .RelPermalink }}">{{ .Title }}</a></li>

                {{ end }}



            </ul>

        </li>
        {{ end }}
    </ul>

</nav>
