<!-- {{ .Site.BaseURL }} -->
{{ partial "head.html" . }}
{{ partial "nav.html" . }}


<h1>{{ .Title }}</h1>
<!-- <h1>{{ .Site.Title }}</h1> -->
{{ .Content }}

<p>This is the layout used only for the Home page.</p>
{{ partial "footer.html" . }}
{{ partial "foot.html" . }}